/*
 * 
 * Email button form
 *
 */

.email-wrapper {
	margin: 3em 0;
}

.field-group {
	position: relative;
}

input.email {
	border: 3px solid $dark-color;
	padding: .9em;
	background-color: transparent;
	width: 100%;
	height: 53px;
	line-height: 53px;

	&:focus {
		background-color: #fff;
	}
}

.email-button {
	font-size: .8em;
	height: 53px;
	line-height: 3.9em;
	background-color: $dark-color;
	border: none;
	color: $neutral-color;
	font-family: $header-font-family;
	padding: 0 1em;
	text-transform: uppercase;
	letter-spacing: .07em;
	@include transition(all .2s linear);

	position: absolute;
	top: 0;
	right: 0;

	&:hover,
	&:focus {
		background-color: $primary-color;
	}
}